.user-images-wrapper {
  padding: 3.75rem 0 2.5rem 2.5rem;
}

.user-images-wrapper__images-subtitle {
  color: #d0d6f9;
  font-family: 'Barlow';
  font-size: 1.13rem;
  font-weight: 400;
  margin: 1.56rem 0;
}

.user-images-wrapper__images-main {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem 4.38rem;
  height: 14.38rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1.25rem;
}

.user-images-wrapper__images-content {
  height: 11.69rem;
  position: relative;
  width: 19.81rem;
}

.user-images-wrapper__main-image {
  height: inherit;
  width: inherit;
}

.user-images-wrapper__delete-icon {
  background: none;
  border: none;
  position: absolute;
  right: 0.63rem;
  top: 0.63rem;
}

.user-images-wrapper__delete-icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .user-images-wrapper {
    padding: 3.75rem 2.5rem 2.5rem 2.5rem;
  }

  .user-images-wrapper__images-main {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .user-images-wrapper {
    padding: 1.25rem 1.25rem 2.5rem 1.25rem;
  }

  .user-images-wrapper__images-subtitle {
    text-align: center;
  }
}
