.user-images-wrapper {
  padding: 60px 0 40px 40px;
}

.user-images-wrapper__user-data {
  align-items: center;
  display: flex;
  gap: 26px;
}

.user-images-wrapper__user-data img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.user-images-wrapper__user-data-mail {
  font-family: 'Barlow Condensed';
  font-size: 28px;
  letter-spacing: 4.72px;
}

.user-images-wrapper__images-subtitle {
  color: #d0d6f9;
  font-family: 'Barlow';
  font-size: 18px;
  font-weight: 400;
  margin: 25px 0;
}

.user-images-wrapper__images-main {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 70px;
}

.user-images-wrapper__images-content {
  position: relative;
  width: fit-content;
}

.user-images-wrapper__main-image {
  height: 187px;
  width: 317px;
}

.user-images-wrapper__delete-icon {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

@media screen and (max-width: 1440px) {
  .user-images-wrapper__images-main {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .user-images-wrapper {
    padding: 20px 0 40px 0;
  }
  .user-images-wrapper__user-data {
    flex-direction: column;
  }

  .user-images-wrapper__images-subtitle {
    text-align: center;
  }

  .user-images-wrapper__user-data img {
    height: 74px;
    width: 74px;
  }
}
