
.layout {
  width: '100%';
  /* max-width: 1440px; */
  display: flex;
  /* justify-content: flex-end; */
  padding: 13.48rem 0 0 0;
  background-image: url("../../assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
