.crew-page-wrapper {
  background: url('../../public/assets/crew/background-crew-desktop.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 210px 90px 0 165px;
  width: 100%;
}
.crew-page-wrapper__title {
  font-family: Barlow Condensed, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
}

.crew-page-wrapper__title span {
  margin: 0 1rem 0 0;
  opacity: 0.25;
}

.crew-page-carousel {
  display: flex;
  height: 100%;
  position: relative;
}

.crew-page-carousel__item {
  display: flex;
  height: 100%;
}

.crew-page-carousel__item-content {
  margin-right: 150px;
  max-width: 614px;
  padding-top: 154px;
}

.crew-page-carousel__role {
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 25px;
  opacity: 0.5;
  text-transform: uppercase;
}

.crew-page-carousel__name {
  font-size: 56px;
  line-height: 64px;
  margin-bottom: 27px;
  text-transform: uppercase;
}

.crew-page-carousel__bio {
  color: #d0d6f9;
  font-family: 'Barlow';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 444px;
}

@media screen and (max-width: 1440px) {
  .crew-page-wrapper {
    height: 100%;
    overflow-y: scroll;
    padding: 136px 50px 0 50px;
  }

  .crew-page-wrapper .crew-page-carousel__item {
    align-items: center;
    flex-direction: column;
  }

  .crew-page-carousel__item-content {
    margin: 0;
    max-width: 458px;
    padding: 0;
  }
  .crew-page-carousel__role {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  .crew-page-carousel__name {
    font-size: 40px;
    line-height: 46px;
    text-align: center;
  }

  .crew-page-carousel__bio {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }

  .crew-page-carousel__image-wrapper {
    display: flex;
    justify-content: center;
  }
  .crew-page-carousel__image {
    margin-bottom: -120px;
    transform: scale(0.66);
  }
}
