.destination-page-wrapper {
  background: url('../../public/assets/destination/background-destination-desktop.jpg');
  background-size: cover;
  padding: 210px 0 0 0;
  width: 100%;
}

.destination-page-wrapper__title {
  font-family: Barlow Condensed, sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 4.725px;
  line-height: 34px;
  margin: 0 0 0 165px;
}

.destination-page-wrapper__title span {
  margin: 0 16px 0 0;
  opacity: 0.25;
}

.destination-page-wrapper__menu {
  display: flex;
  justify-content: space-between;
  margin: 64px 0 0 0;
  width: 285px;
}

.destination-page-wrapper__tab {
  background: none;
  border: none;
  color: #fff;
  font-family: Barlow Condensed, sans-serif;
  font-size: 16px;
  height: 34px;
  letter-spacing: 2.7px;

  padding: 0 0 40px 0;
  text-transform: uppercase;
}

.destination-page-wrapper__tab:hover {
  border-bottom: 3px solid #8a8b90;
  cursor: pointer;
  margin: 0 0 0 20px;
}
.destination-page-wrapper__tab:focus {
  border-bottom: 3px solid #fff;
}

.destination-page-tab-panel {
  display: flex;
}
@media screen and (max-width: 1440px) {
 
  .destination-page-wrapper__title {
    margin: 0 0 0 40px;
  }

  .destination-page-tab-panel {
    flex-direction: column;
    align-items: center;
  }
}
