.form-wrapper {
  display: flex;
  justify-content: flex-end;
  outline: 1px solid wheat;
  overflow-y: auto;
  padding: 50.08px 0 0 0;
  width: 100%;
  /* height: 100%; */
}

.form-wrapper__form {
  background: #1e2129;
  color: #d0d6f9;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: space-between;
  min-height: 515px;
  outline: 1px solid green;
  padding: 35px 130px 35px 50px;
  width: 1275px;
}

fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.field-wrapper {
  position: relative;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.avatar-wrapper {
  align-items: center;
  outline: 1px solid green;
}

.label {
  font-family: 'Barlow Condensed', sans-serif;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

.icons-wrapper {
  display: flex;
  margin-top: 10px;
  outline: 1px solid red;
  width: 200px;
}

.form-wrapper__form input {
  background: #1f222d;
  border: 1px solid #d0d6f9;
  color: #d0d6f9;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
  height: 50px;
  margin: 0 0 2rem 0;
  padding: 0 0 0 0.63rem;
  width: 500px;
}

.error {
  bottom: 0.5rem;
  color: #fd001e;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
  position: absolute;
}

.avatar-error {
  left: calc(50% - 100px);
}

.input {
  border: 1px solid #000;
  border-radius: 0;
  font-size: 1.25rem;
}

.form-wrapper__form input[type='file'] {
  border-radius: 50%;
  font-size: 1rem;
  height: 90px;
  opacity: 0;
  outline: 1px solid green;
  padding: 0;
  width: 90px;
}

.form-wrapper__form input[type='file']::file-selector-button {
  /* position: relative; */
  cursor: pointer;
  height: 90px;
  width: 90px;
}

.form-wrapper__form input:focus {
  border: 2px solid #d0d6f9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-avatar {
  align-items: center;
  background: #1f222d;
  border: none;
  border-radius: 50%;
  color: #d0d6f9;
  display: flex;
  font-size: 40px;
  height: 90px;
  justify-content: center;
  outline: 1px solid #d0d6f9;
  position: absolute;
  /* right: 0; */
  width: 90px;
}

.button-avatar:hover {
  cursor: pointer;
}

.image-preview {
  border-radius: 50%;
  height: 90px;
  margin: 0 0 0 20px;
  width: 90px;
}

.preview-div {
  align-items: center;
  background: #d0d6f9;
  border-radius: 50%;
  color: black;
  display: flex;
  height: 90px;
  justify-content: center;
  margin: 0 0 0 20px;
  width: 90px;
}

.form-wrapper__form-link-button-wrapper {
  display: flex;
  gap: 80px;
  justify-content: center;
}

.form-wrapper__form-link-login {
  align-items: center;
  background: #ffffff08;
  border: 2px solid #d0d6f9;
  border-radius: 10px;
  color: #d0d6f9;
  display: flex;
  font-size: 28px;
  height: 60px;
  justify-content: center;
  letter-spacing: 2px;
  width: 210px;
}
.form-wrapper__form-link-login:hover {
  background: rgba(217, 217, 217, 0.3);
  cursor: pointer;
  outline: 10px solid rgba(217, 217, 217, 0.3);
}

.form-wrapper__form-button-submit {
  background: #fff;
  border: 2px solid #d0d6f9;
  border-radius: 10px;
  color: #0b0d17;
  font-size: 28px;
  height: 60px;
  letter-spacing: 2px;
  width: 210px;
}

.form-wrapper__form-button-submit:hover {
  /* background: #000; */
  /* color: #fff; */
  cursor: pointer;
  outline: 10px solid rgba(217, 217, 217, 0.3);
}

@media screen and (max-width: 1440px) {
  .form-wrapper {
    padding: 20px 0 0 0;
  }
  .form-wrapper__form {
    padding: 22px;
  }

  fieldset {
    align-items: center;
    flex-direction: column;
  }
  .form-wrapper__form input {
    width: 330px;
  }

  .form-wrapper__form-link-button-wrapper {
    flex-wrap: wrap;
    gap: 26px;
  }

  /* .avatar-wrapper {
    align-items: flex-start;
  } */
  .form-wrapper__form-link-login,
  .form-wrapper__form-button-submit {max-width:330px}
}

@media screen and (max-width: 768px) {
  .form-wrapper__form-link-login,
  .form-wrapper__form-button-submit {
    width: 100%;
  }
  .form-wrapper__form input {
    width: 330px;
  }
  /* .avatar-wrapper {
    align-items: flex-start;
  } */
}
