.home-page-wrapper {
  align-items: flex-end;
  color: #d0d6f9;
  display: flex;
  justify-content: space-between;
  padding: 0 10.31rem 8.13rem;
  width: 100%;
}
.home-page-wrapper__content-left {
  display: flex;
  flex-direction: column;
  height: 23.88rem;
  justify-content: space-between;
  width: 28.13rem;
}

.home-page-wrapper__text1 {
  font-family: Barlow Condensed, sans-serif;
  font-size: 1.75rem;
  letter-spacing: 0.3rem;
}

.home-page-wrapper__text2 {
  color: #fff;
  font-size: 9.38rem;
}

.home-page-wrapper__text3 {
  font-size: 1.13rem;
  line-height: 2rem;
}

.home-page-wrapper__content-right {
  align-items: center;
  background: #fff;
  border-radius: 50%;
  display: flex;
  height: 17.13rem;
  justify-content: center;
  width: 17.13rem;
}
.home-page-wrapper__content-right:hover {
  cursor: pointer;
  outline: 5.5rem solid #25252f;
}

.home-page-wrapper__explore {
  color: #0b0d17;
  font-size: 2rem;
}

@media screen and (max-width: 1440px) {
  .home-page-wrapper {
    align-items: center;
    flex-direction: column;
    padding: 12.5rem 10.31rem 8.13rem;
    text-align: center;
  }

  .home-page-wrapper__content-left {
    height: 20.88rem;
    margin: 0 0 9.75rem 0;
  }

  .home-page-wrapper__text1 {
    font-size: 1.25rem;
  }

  .home-page-wrapper__text3 {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .home-page-wrapper__content-right {
    height: 15.13rem;
    width: 15.13rem;
  }
}

@media screen and (max-width: 768px) {
  .home-page-wrapper {
    justify-content: space-between;
    padding: 7.19rem 10.31rem 8.13rem;
  }
  .home-page-wrapper__content-left {
    height: 17.25rem;
    margin: 0 0 5rem 0;
    width: 20.44rem;
  }
  .home-page-wrapper__text1 {
    font-size: 1rem;
  }

  .home-page-wrapper__text2 {
    font-size: 5rem;
  }

  .home-page-wrapper__text3 {
    font-size: 0.94rem;
  }
  .home-page-wrapper__content-right {
    height: 9.38rem;
    margin: 0 0 -2.81rem 0;
    width: 9.38rem;
  }
  .home-page-wrapper__explore {
    font-size: 1.25rem;
  }
}
