.login-page-wrapper {
    margin: 5rem 0 0 0;
    padding: 0 0 0 10.31rem;
    width: 100%;
  }

  .login-page-wrapper__title {
    font-family: Barlow Condensed, sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
  }

  .login-page-wrapper__title span {
    font-weight: 700;
    margin: 0 1rem 0 0;
    opacity: 0.25;
  }

  @media screen and (max-width: 1440px) {
    .login-page-wrapper {
      margin: 1.25rem 0 0 0;
      padding: 0;
    }
  
    .login-page-wrapper__title {
      font-size: 1rem;
      text-align: center;
    }
  }