.register-page-wrapper {
  color: #000;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 100%;
}

.register-page-wrapper__form {
  background: #ffffffcc;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 400px;
  justify-content: space-between;
  padding: 20px;
  width: 300px;
}

fieldset {
  border: none;
}

.field-wrapper {
  position: relative;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.label {
  line-height: 1;
}

.register-page-wrapper__form input {
  margin-bottom: 32px;
  padding-left: 10px;
  width: 150px;
}

.error {
  bottom: 8px;
  color: #ff0000;
  font-size: 16px;
  position: absolute;
}

.input {
  border: 1px solid #000;
  border-radius: 0;
  font-size: 20px;
}

.register-page-wrapper__form input[type='file'] {
  font-size: 16px;
  height: 25px;
  opacity: 0;
  padding: 0;
}

.register-page-wrapper__form input[type='file']::file-selector-button {
  cursor: pointer;
  width: 150px;
}

.register-page-wrapper__form input:focus {
  outline: 2px solid #0b0d17;
}

.button-avatar {
  border: 1px solid #000;
  border-radius: 0;
  font-size: 20px;
  height: 25px;
  position: absolute;
  right: 0;
  width: 150px;
}

.button-avatar:hover {
  cursor: pointer;
}

.image-preview {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.register-page-wrapper__form-button-register {
  font-size: 20px;
}

.register-page-wrapper__form-button-register:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
}
