.register-page-wrapper {
  color: #000;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 100%;
}

.register-page-wrapper__form {
  background: #ffffffcc;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 400px;
  justify-content: space-between;
  padding: 20px;
  width: 300px;
}

fieldset {
  border: none;
}

.field-wrapper {
  position: relative;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.label {
  line-height: 1;
}

.register-page-wrapper__form input {
  margin-bottom: 32px;
  padding-left: 10px;
  width: 150px;
}

.error {
  bottom: 8px;
  color: #ff0000;
  font-size: 16px;
  position: absolute;
}

.input {
  border: 1px solid #000;
  border-radius: 0;
  font-size: 20px;
}

.register-page-wrapper__form input[type='file'] {
  font-size: 16px;
  padding: 0;
}
.register-page-wrapper__form input[type='file']::file-selector-button {
  background: #0b0d17;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0;
  padding-left: 10px;
  text-align: center;
  width: 150px;
}

.register-page-wrapper__form input[type='file']::file-selector-button:hover {
  background: #0b0d17b3;
}
.register-page-wrapper__form input:focus {
  outline: 1px solid green;
}

.register-page-wrapper__form-button-register {
  font-size: 20px;
}
