.register-page-wrapper {
  color: #000;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 100%;
}

.register-page-wrapper__form {
  background: #ffffffcc;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
  padding: 20px;
  width: 300px;
}

fieldset {
  border: none;
}

.register-page-wrapper__form .field-wrapper {
  position: relative;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.label {
  font-size: 20px;
  line-height: 1;
}

.register-page-wrapper__form input {
  margin-bottom: 32px;
  padding-left: 10px;
  width: 150px;
  /* text-overflow: ellipsis; */
}

p {
  bottom: 8px;
  color: #ff0000;
  position: absolute;
}
input[type='file'] {
  padding: 0;
}
input[type='file']::-webkit-file-upload-button {
  display: flex;
  margin: 0;
  padding-left: 10px;
  width: 150px;
}
