.technology-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  outline: 1px solid yellow;
  padding: 70px 0px 0 110px;
  width: 100%;
}

.technology-page-wrapper__title {
  font-family: Barlow Condensed, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  margin-bottom: 25px;
}

.technology-page-wrapper__title span {
  margin: 0 1rem 0 0;
  opacity: 0.25;
}



.technology-page-carousel__pagination {
  display: flex;
  flex-direction: column;
  gap: 32px;
  left: 0;
  position: absolute;
  top: calc(50% - 50% / 2);
}
