.technology-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  outline: 1px solid yellow;
  overflow-y: auto;
  padding: 70px 0px 0 110px;
  width: 100%;
}

.technology-page-wrapper__title {
  font-family: Barlow Condensed, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  margin-bottom: 25px;
}

.technology-page-wrapper__title span {
  margin: 0 1rem 0 0;
  opacity: 0.25;
}

.technology-page-carousel__pagination {
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: fit-content;
  left: 0;
  margin: auto 0;
  position: absolute;
  top: 0;
}

@media screen and (max-width: 1440px) {
  .technology-page-wrapper {
    padding: 40px 0 0 0;
  }
  .technology-page-wrapper__title {
    font-size: 20px;
    letter-spacing: 3.375px;
    line-height: 24px;
    margin-bottom: 60px;
    margin-left: 50px;
  }

  .technology-page-carousel__pagination {
    flex-direction: row;
    gap: 16px;
    left: 0;
    margin: 0 auto;
    right: 0;
    top: 50%;
    width: fit-content;
  }
}
