.user-page-wrapper {
  padding: 5rem 0 0 10.31rem;
  width: 100%;
}

.user-page-wrapper__title {
  font-family: Barlow Condensed, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  margin: 0 0 2.5rem 0;
}

.user-page-wrapper__title span {
  font-weight: 700;
  margin: 0 1rem 0 0;
  opacity: 0.25;
}

@media screen and (max-width: 768px) {
  .user-page-wrapper {
    padding: 1.88rem 0 0 0;
  }
}
