.planet-image {
  margin: 0 10rem 0 14.38rem;
}

.destination-tab-content {
  display: flex;
  flex-direction: column;
  max-width: 27.81rem;
}

.destination-tab-content__planet {
  font-size: 6.25rem;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  text-transform: uppercase;
}

.destination-tab-content__description {
  color: #d0d6f9;
  font-family: Barlow Condensed, sans-serif;
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: center;
}

.destination-tab-content hr {
  border: 0.06rem solid #383b4b;
  margin: 3.38rem 0 1.75rem 0;
  width: 100%;
}

.destination-tab-content__fun-fact {
  display: flex;
  gap: 5rem;
}

.destination-tab-content__fun-fact-title {
  color: #d0d6f9;
  font-family: Barlow Condensed, sans-serif;
  font-size: 0.88rem;
}

.destination-tab-content__fun-fact-value {
  font-size: 1.75rem;
  margin: 0.75rem 0 0 0;
  text-transform: uppercase;
}
@media screen and (max-width: 1440px) {
  .planet-image {
    height: auto;
    margin: 0;
    width: 18.75rem;
  }

  .destination-tab-content {
    align-items: center;
  }

  .destination-tab-content__planet {
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 1.25rem;
  }

  .destination-tab-content__description {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .destination-tab-content hr {
    margin: 3.13rem 0 1rem 0;
  }

  .destination-tab-content__fun-fact {
    margin: 0.63rem 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .planet-image {
    width: 10.63rem;
  }

  .destination-tab-content__planet {
    font-size: 3.5rem;
  }

  .destination-tab-content__description {
    font-size: 0.94rem;
    line-height: 1.56rem;
  }

  .destination-tab-content__fun-fact {
    flex-direction: column;
    gap: 2.25rem;
  }
}
