.modal__overlay {
  background: #0f111c99;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.modal__content {
  align-items: center;
  background: #242631;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Barlow;
  font-size: 2.5rem;
  height: auto;
  justify-content: center;
  left: 50%;
  max-width: 45rem;
  min-height: 18.75rem;
  padding: 1.25rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 10000;
}

.modal__content * {
  font-family: Barlow;
}

.modal__title {
  font-size: 3.75rem;
}

.modal__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.63rem;
  justify-content: center;
}

.modal__button {
  align-items: center;
  background: #fff;
  border: 2px solid #d0d6f9;
  border-radius: 0.63rem;
  color: #0b0d17;
  display: flex;
  font-size: 1.75rem;
  height: 3.75rem;
  justify-content: center;
  letter-spacing: 0.13rem;
  width: 13.13rem;
}

.modal__button:hover {
  cursor: pointer;
}

.modal__button--cancel {
  background: #ffffff08;
  color: #d0d6f9;
}

.modal__button--cancel:hover,
.modal__button--confirm:hover {
  outline: 0.63rem solid #d9d9d94d;
}

.modal__content {
  display: flex;
  gap: 3.13rem;
}

.modal__content-header {
  text-align: center;
}

.modal__text {
  color: #ffffff99;
  font-size: 1.75rem;
  font-weight: 400;
  margin: 0.63rem 0 0 0;
}

@media screen and (max-width: 768px) {
  .modal__content {
    width: 20.94rem;
  }

  .modal__title {
    font-size: 1.75rem;
  }

  .modal__text {
    font-size: 1.25rem;
  }

  .modal__button--confirm {
    order: -1;
  }
}
