.technology-page-carousel__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.technology-page-carousel__item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 160px;
  max-width: 470px;
  outline: 1px solid green;
}

.technology-page-carousel__terminology {
  color: #d0d6f9;
  font-family: Barlow Condensed;
  font-size: 16px;
  letter-spacing: 2.7px;
  line-height: 19px;
  margin-bottom: 10px;
}

.technology-page-carousel__name {
  font-size: 56px;
  line-height: 64px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

.technology-page-carousel__description {
  color: #d0d6f9;
  font-family: Barlow;
  font-size: 18.08px;
  line-height: 32px;
}

@media screen and (max-width: 1440px) {
  .technology-page-carousel__item {
    align-items: center;
    flex-direction: column;
    gap: 160px;
    height: 100%;
  }

  .technology-page-carousel__image-wrapper {
    order: -1;
  }

  .technology-page-carousel__item-content {
    height: 237px;
    margin: 0;
    text-align: center;
  }

  .technology-page-carousel__terminology {
    margin-bottom: 16px;
  }

  .technology-page-carousel__name {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 16px;
  }

  .technology-page-carousel__description {
    font-size: 16px;
    line-height: 28px;
  }
}
