.technology-page-carousel__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.technology-page-carousel__item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10rem;
  max-width: 29.38rem;
}

.technology-page-carousel__terminology {
  color: #d0d6f9;
  font-family: Barlow Condensed;
  font-size: 1rem;
  letter-spacing: 0.17rem;
  line-height: 1.19rem;
  margin-bottom: 0.63rem;
}

.technology-page-carousel__name {
  font-size: 3.5rem;
  line-height: 4rem;
  margin: 0 0 1.25rem 0;
  text-transform: uppercase;
}

.technology-page-carousel__description {
  color: #d0d6f9;
  font-family: Barlow;
  font-size: 1.13rem;
  line-height: 2rem;
}

@media screen and (max-width: 1440px) {
  .technology-page-carousel__item {
    align-items: center;
    flex-direction: column;
    gap: 10rem;
    height: 100%;
  }

  .technology-page-carousel__image-wrapper {
    order: -1;
  }

  .technology-page-carousel__item-content {
    margin: 0;
    min-height: 14.81rem;
    text-align: center;
  }

  .technology-page-carousel__terminology {
    margin-bottom: 1rem;
  }

  .technology-page-carousel__name {
    font-size: 2.5rem;
    line-height: 2.88rem;
    margin-bottom: 1rem;
  }

  .technology-page-carousel__description {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

@media screen and (max-width: 768px) {
  .technology-page-carousel__item {
    gap: 6.25rem;
  }
  .technology-page-carousel__image-wrapper {
    height: 10.63rem;
  }

  .technology-page-carousel__image {
    height: 100%;
  }

  .technology-page-carousel__item-content {
    padding: 0 1.5rem;
  }

  .technology-page-carousel__terminology {
    font-size: 0.88rem;
    letter-spacing: 0.15rem;
    line-height: 1.06rem;
  }

  .technology-page-carousel__name {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .technology-page-carousel__description {
    font-size: 0.94rem;
    line-height: 1.56rem;
  }
}
