.active {
  background: #fff;
  color: #0b0d17;
}

.inactive {
  align-items: center;
  border-radius: 50%;
  display: flex;
  font-size: 2rem;
  height: 5rem;
  justify-content: center;
  outline: 1px solid #ffffff40;
  width: 5rem;
}

.inactive:hover {
  cursor: pointer;
  outline: 1px solid #fff;
}

@media screen and (max-width: 1440px) {
  .inactive {
    font-size: 1.5rem;
    height: 3.75rem;
    width: 3.75rem;
  }
}

@media screen and (max-width: 1440px) {
  .inactive{
    height:2.5rem;
    width:2.5rem
  }
}