.user-card-wrapper {
  color: #fff;
  display: flex;
  font-size: 28px;
  gap: 110px;
  outline: 1px solid wheat;
  padding: 50px 0 0 50px;
}

.user-card-wrapper * {
  font-family: Barlow, sans-serif;
  font-weight: 400;
}

.user-card__images-wrapper {
  height: fit-content;
  outline: 1px solid yellow;
  padding: 40px 0 0 0;
  position: relative;
  width: fit-content;
}

.user-card-wrapper__avatar {
  border-radius: 50%;
  height: 150px;
  outline: 1px solid green;
  width: 150px;
}

.user-card-wrapper__photo {
  bottom: -10px;
  height: fit-content;
  outline: 1px solid red;
  position: absolute;
  right: -5px;
  width: fit-content;
}

.photo:hover {
  cursor: pointer;
}

.user-card-wrapper__user-data {
  max-width: 465px;
  outline: 1px solid rgb(29, 119, 199);
  width: 100%;
}

.user-card-wrapper__user-data-part {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px 0;
}

.user-card-wrapper__user-data-part p {
  letter-spacing: 4.64px;
}
.user-card-wrapper__label {
  font-size: 18px;
}
