.user-card-wrapper {
  color: #fff;
  display: flex;
  font-size: 1.75rem;
  gap: 6.88rem;
  padding: 3.13rem 3.13rem 0 3.13rem;
}

.user-card-wrapper * {
  font-family: Barlow, sans-serif;
  font-weight: 400;
}

.user-card__images-wrapper {
  height: fit-content;
  padding: 2.5rem 0 0 0;
  position: relative;
  width: fit-content;
}

.user-card-wrapper__avatar {
  border-radius: 50%;
  height: 9.38rem;
  width: 9.38rem;
}

.user-card-wrapper__photo {
  bottom: -0.63rem;
  height: fit-content;
  position: absolute;
  right: -5px;
  width: fit-content;
}

.photo:hover, .user-card-wrapper__photo-right {
  cursor: pointer;
}

.user-card-wrapper__user-data {
  max-width: 29.06rem;
  width: 100%;
}

.user-card-wrapper__user-data-part {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 0 1.88rem 0;
}

.user-card-wrapper__user-data-part p {
  letter-spacing: 4.64px;
}
.user-card-wrapper__label {
  font-size: 1.13rem;
}

@media screen and (max-width: 768px) {
  .user-card-wrapper {
    align-items: center;
    flex-direction: column;
    padding: 0 1.38rem;
  }
}
