

a {
  text-decoration: none;
  color:inherit}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bellefair', serif;
}

body{
  background-image:url('../src/assets/home/background-home-mobile.jpg');
  /* background-size: contain; */
  display: flex;
  /* justify-content: flex-end;
  width: 100%; */
}