.nav {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 0 0 3.13rem;
  position: fixed;
  top: 0;
  left: calc(50%-50%);
}

@media screen and (max-width: 1439px) {
  .nav {
    padding-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    padding: 1.56rem;
  }
}
