.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 90rem;
  padding: 2.5rem 0 0 3.13rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

@media screen and (max-width: 1440px) {
  .nav {
    padding-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 1.56rem;
  }
}
