.navlinks-wrapper {
  /* backdrop-filter: blur(5rem); */
  background: #232732;
  color: #fff;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  padding: 2.5rem 3rem;
  position: relative;
  position: relative;
  width: 51.88rem;
}

.menu-button {
  display: none;
}

.link {
  position: relative;
}

.link span,
.active span {
  font-weight: 700;
}
.active {
  position: relative;
}

.active::after {
  border-bottom: 0.19rem solid #fff;
  bottom: -2.5rem;
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
}

.link:hover::after {
  border-bottom: 0.19rem solid #8a8b90;
  bottom: -2.5rem;
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
}

.hr {
  left: -28rem;
  opacity: 0.25;
  position: absolute;
  top: 50%;
  width: 30rem;
  z-index: 100;
}

.navlinks-wrapper-mobile {
  display: none;
}

@media screen and (max-width: 1440px) {
  .navlinks-wrapper {
    font-size: 0.88rem;
    width: 650.08px;
  }

  .hr {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .navlinks-wrapper {
    display: none;
  }

  .navlinks-wrapper-mobile {
    /* backdrop-filter: blur(5.1rem); */
    background: #232732;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    letter-spacing: 0.19rem;
    position: fixed;
    right: 0;
    top: 0;
    width: 15.88rem;
    z-index: 300;
  }

  .navlinks-wrapper-mobile .link {
    padding: 0 0 2rem 2rem;
  }

  .navlinks-wrapper-mobile span {
    display: inline;
  }
  .active,
  .link:hover::after {
    display: none;
  }
  .active-mobile {
    padding: 0 0 2rem 2rem;
    position: relative;
  }

  .active-mobile::after {
    border-right: 0.19rem solid #fff;
    content: '';
    height: 2rem;
    position: absolute;
    right: 0;
    top: -0.44rem;
  }

  .backdrop {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 200;
  }

  .menu-button {
    background: none;
    border: none;
    color: #d0d6f9;
    display: block;
  }
  button .icon {
    font-size: 2.5rem;
  }

  .icon--close {
    align-self: flex-end;
    margin: 1.88rem 1.88rem 4.06rem 0;
  }
}
